
<aside class="sidebar">
  <div class="logo">Logo</div>
  <div class="menu-item">
    <div class="icon">📧</div>
    <span>Lorem ipsum odor</span>
  </div>
  <div class="menu-item">
    <div class="icon">📧</div>
    <span>Consectetuer adi</span>
  </div>
  <div class="menu-item">
    <div class="icon">📧</div>
    <span>Facilisis convallis</span>
  </div>
  <div class="menu-item">
    <div class="icon">📧</div>
    <span>Litora etiam tempor</span>
  </div>
  <div class="menu-item">
    <div class="icon">📧</div>
    <span>Fermentum non</span>
  </div>
  <div class="menu-item">
    <div class="icon">📧</div>
    <span>Nullam rhoncus</span>
  </div>
  <div style="flex: 1;"></div>
  <div class="menu-item">
    <div class="icon">📧</div>
    <span>Orci massa</span>
  </div>
</aside>
