<body id="habitsItem">
<div class="habits-list-item">
  <div class="habits-list-item-logo">
    <img src="./assets/logo.png" alt="">
    <p class="habits-task-title">Lorem Ipsum.</p>
  </div>

  <div class="habits-list-item-options">
    <button class="Task-Habit-complete-btn"><i id="check" class="fa-solid fa-check habitTask-options-icon habitTask-options-icon"></i></button>
    <button class="Task-Habit-edit-btn"><i class="fa-solid fa-light fa-pen habitTask-options-icon"></i></button>
    <button class="Task-Habit-delete-btn"><i id="cross" class="fa-solid fa-xmark habitTask-options-icon"></i></button>
  </div>
</div>
</body>