<body id="habitsItem">
<div class="habits-list-item">
  <div class="habits-list-item-logo">
    <img src="./assets/logo.png" alt="">
    <p class="habits-title">Lorem Ipsum.</p>
  </div>

  <div class="habits-list-item-options">
    <button class="Habit-complete-btn complete-btn"><i id="check" class="fa-solid fa-check habit-options-icon habit-options-icon"></i></button>
    <button class="Habit-edit-btn edit-btn"><i class="fa-solid fa-light fa-pen habit-options-icon"></i></button>
    <button class="Habit-delete-btn"><i id="cross" class="fa-solid fa-xmark habit-options-icon"></i></button>
  </div>
</div>
</body>
