<div class="header">
  <div class="header-info">
    <div class="header-info-item">
      <div class="header-info-item" id="medals-container"></div>
      <p id="rank-display" class="header-info-item-text">Range: Beginner</p>
      <p class="header-info-item-text" id="streak">0</p>
      <div class="tooltip-container">
        <i class="fa-solid fa-fire-flame-curved"></i>
        <span class="tooltip-header">Streak</span>
      </div>
    </div>
    <div class="header-info-item">
      <p class="header-info-item-text" id="points">0pts</p>
      <div class="tooltip-container">
        <i class="fa-regular fa-gem"></i>
        <span class="tooltip-header">Points</span>
      </div>
    </div>
  </div>
  <button class="header-button"><i class="fa-solid fa-bell header-icon"></i></button>
  <button class="header-button"><i class="fa-solid fa-inbox header-icon"></i></button>
  <a href="#/setting" class="header-button-user">
    <img id="avatar-img" class="header-avatar" src="../../public/assets/avatar1.webp" alt="User avatar" />
  </a>

</div>
