<div class="header">
  <div class="header-info">
    <div class="header-info-item">
      <p class="header-info-item-text" id="streak">0</p>
      <i class="fa-solid fa-fire-flame-curved"></i>
    </div>
    <div class="header-info-item">
      <p class="header-info-item-text" id="points">0pts</p>
      <i class="fa-regular fa-gem"></i>
    </div>
  </div>
  <button class="header-button"><i class="fa-solid fa-bell header-icon"></i></button>
  <button class="header-button"><i class="fa-solid fa-inbox header-icon"></i></button>
  <button class="header-button-user"><i class="fa-solid fa-user header-icon"></i></button>

  <button class="complete-task-button" data-task-id="1">✅ Tarea Completada</button>
</div>

<script src="../JS/points.js"></script>
