<div class="header">
  <div class="header-info">
    <div class="header-info-item">
      <p class="header-info-item-text">50</p>
      <i class="fa-solid fa-fire-flame-curved"></i>
    </div>
    <div class="header-info-item">
      <p class="header-info-item-text">30pts</p>
      <i class="fa-regular fa-gem"></i>
    </div>
  </div>
  <button class="header-button"><i class="fa-solid fa-bell header-icon"></i></button>
  <button class="header-button"><i class="fa-solid fa-inbox header-icon"></i></button>
  <button class="header-button-user"><i class="fa-solid fa-user header-icon"></i></button>
</div>