
<aside class="sidebar">
  <div class="logo-container">
    <a href="#/home">
      <img src="./assets/logo.png" class="logo" alt="logo">
    </a>
  </div>

  <div class="menu-item">
    <i class="fa-solid fa-list-check icon"></i>
    <a data-i18n="habits" class="sidebar-link" href="#/habits">Habits</a>
  </div>
  <div class="menu-item">
    <i class="fa-solid fa-list-check icon"></i>
    <a data-i18n="tasks" class="sidebar-link" href="#/tasks">Tasks</a>
  </div>
  <div class="menu-item">
    <i class="fa-solid fa-chart-simple icon"></i>
    <a data-i18n="analytics" class="sidebar-link" href="#/analytics">Analytics</a>
  </div>
  <div class="menu-item">
    <i class="fa-solid fa-rocket icon"></i>
    <a data-i18n="challenges" class="sidebar-link" href="#/challenges">Challenges</a>
  </div>
  <div class="menu-item">
    <i class="fa-solid fa-user-group icon"></i>
    <a data-i18n="groups" class="sidebar-link" href="#/groups">Groups</a>
  </div>
  <div class="menu-item">
    <i class="fa-solid fa-comments icon"></i>
    <a data-i18n="forums" class="sidebar-link" href="#/forums">Forums</a>
  </div>
  <div class="menu-item">
    <i class="fa-solid fa-gears icon"></i>
    <a data-i18n="settings" class="sidebar-link" href="#/setting">Setting and Profile</a>
  </div>

  <div style="flex: 1;"></div>
  <div class="menu-item">
    <i class="fa-solid fa-right-from-bracket icon"></i>
    <button data-i18n="logout" class="sidebar-link sidebar-button" id="logout-btn">Log Out</button>
  </div>
</aside>
