
<aside class="sidebar">
  <div class="logo">Logo</div>

  <div class="menu-item">
    <i class="fa-solid fa-list-check icon"></i>
    <a class="sidebar-link" href="#/habits">Habits</a>
  </div>
  <div class="menu-item">
    <i class="fa-solid fa-chart-simple icon"></i>
    <a class="sidebar-link" href="#/analytics">Analytics</a>
  </div>
  <div class="menu-item">
    <i class="fa-solid fa-gears icon"></i>
    <a class="sidebar-link" href="#/setting">Setting and Profile</a>
  </div>

  <div style="flex: 1;"></div>
  <div class="menu-item">
    <div class="icon">📧</div>
    <span>Orci massa</span>
  </div>
</aside>
