<body id="tasksItem">
<div class="tasks-list-item">
  <div class="tasks-list-item-logo">
    <img src="./assets/logo.png" alt="">
    <p class="tasks-title">Lorem Ipsum.</p>
  </div>

  <div class="tasks-list-item-options">
    <button class="Task-complete-btn complete-btn"><i id="check" class="fa-solid fa-check task-options-icon task-options-icon"></i></button>
    <button class="Task-edit-btn edit-btn"><i class="fa-solid fa-light fa-pen task-options-icon"></i></button>
    <button class="Task-delete-btn"><i id="cross" class="fa-solid fa-xmark task-options-icon"></i></button>
  </div>
</div>
</body>
