
.analytics-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: var(--light-bg);
    height: 100%;
}

.analytics-user-graphics{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    flex-grow: 1;
    gap: 20px;

}
.analytics-user-graphics h2{
    padding: 10px 20px;
}

.graphics-container {
    display: flex;
    gap: 20px;
    flex-grow: 1;
    margin-bottom: 10px;
}

.large-analytics {
    display: flex;
    flex-grow: 2;
    min-height: 200px;
    background-color: #0077B4;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width:100%;
}

.circle-analytics {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #0077B4;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    min-height: 200px;
    width: 60%;

}
#habits-circle-progress, #tasks-circle-progress {
        margin: 20px;
        width: 200px;
        height: 200px;
}
.circle-progress-text {
    font-size: 35px;
}
