#habits {
    height: 100vh;
    gap: 10px;
    padding: 20px;
}

.main-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.habits-content {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    background-color: var(--light-bg);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    height: calc(100vh - 136px);
    gap: 20px;
}

.habits-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.habits-list-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;


}
.habits-list-title{
    display: flex;
    align-items: center;

}
.habits-list-header-options{
    display: flex;
    align-items: center;
    gap: 1rem;

}

.habits-list-header-options button{
    padding: 5px;
    min-width: 4rem;
}

.user-habits{
    display: flex;
    flex-direction: column;
    overflow-y: auto ;
    width: 100%;
    height: 77vh;
    gap: 8px;
    padding-top: 8px;
}
.habits-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(180deg, var(--blue-light) 0%, var(--blue-lighter) 100%);
    border-radius: 15px;
    box-shadow: 0 4px 8px var(--shadow);
    transition: transform 0.2s ease;
}
.habits-list-item:hover {
    transform: translateY(-3px);
}
.habits-list-item-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.habits-list-item-logo img{
    width: 50px;
    height: 50px;

}
.habits-list-item-options{
    display: flex;
    gap: 1rem;
}
.habits-item-description{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.habits-item-description_row_a {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    height: 20%;
}



.habits-item-description_row_b {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    height: 80%;
}

.habits-item-description_col_1, .habits-item-description_col_2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50%;
}

.habits-item-description_1 {
    background: linear-gradient(180deg, var(--blue-light) 0%, var(--blue-lighter) 100%);
    border-radius: 15px;
    padding: 12px;
    gap: 8px;
    box-shadow: 0 4px 8px var(--shadow);
    height: 30%;
    margin: 0;
    transition: transform 0.2s ease;
    align-content: center;
    text-align: center;
}

.habits-item-description_2 {
    background: linear-gradient(180deg, var(--blue-light) 0%, var(--blue-lighter) 100%);
    border-radius: 15px;
    padding: 12px;
    gap: 8px;
    box-shadow: 0 4px 8px var(--shadow);
    height: 70%;
    margin: 0;
    transition: transform 0.2s ease;
    align-content: center;
    text-align: center;
}

.habits-item-description_3 {
    background: linear-gradient(180deg, var(--blue-light) 0%, var(--blue-lighter) 100%);
    border-radius: 15px;
    padding: 12px;
    gap: 8px;
    box-shadow: 0 4px 8px var(--shadow);
    height: 34%;
    margin: 0;
    transition: transform 0.2s ease;
    align-content: center;
    text-align: center;
}

.habits-item-description_4 {
    background: linear-gradient(180deg, var(--blue-light) 0%, var(--blue-lighter) 100%);
    border-radius: 15px;
    padding: 12px;
    gap: 8px;
    box-shadow: 0 4px 8px var(--shadow);
    height: 100%;
    margin: 0;
    transition: transform 0.2s ease;
    align-content: center;
    text-align: center;
}

.habits-item-description_1:hover,
.habits-item-description_2:hover,
.habits-item-description_3:hover,
.habits-item-description_4:hover {
    transform: translateY(-3px);
}
