@import 'foro.css';
@import 'setting.css';
@import 'habits.css';
@import 'variables.css';
@import 'register.css';
@import 'home.css';
@import 'dashboard.css';
@import 'sidebar.css';
@import 'challenges.css';
@import 'analytics.css';
@import 'header.css';

body {
    font-family: var(--text-font), sans-serif;
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font), sans-serif;
}

main {
    width: min(95%, 1200px);
    margin: 0 auto;
}

*{
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

html {
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
}