<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Planify</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../js/analytics.js"></script>
</head>
<body class="analytics-body">
<div id="analytics-sidebar-container"></div>

<div id="analytics-content">
    <div class="analytics-header">
        <div class="header-title">
            <h1>Nullam rhoncus hendrerit eros placerat</h1>
            <p class="subtitle">Litora etiam tempor duis ullamcorper ex leo vulputate fusce class</p>
            <p>Lorem ipsum odor amet.</p>
        </div>
        <div class="header-actions">
            <button >Action1</button>
            <button >Action2</button>
            <div class="analytics-user-image">
                <img src="#" alt="User Profile">
            </div>

        </div>
    </div>
    <div class="analytics-user-graphics">

    </div>


</div>



<script>
    load();
</script>

</body>
</html>