<div class="analytics-content">
    <div class="analytics-user-graphics">
        <h2>Habits</h2>
        <div class="graphics-container">
            <div class="large-analytics">
                <div class="habits-BarChart"></div>
                <div class="TasksHabits-counter">
                    <div class="counter-container">
                        <div class="CurrentHabitStreak-counter"> <i class="fas fa-fire"></i> 5</div>
                        <div class="HabitsCompletedToday-counter"><i class="fas fa-check"></i> 5</div>
                        <div class="TotalHabits-counter"><i class="fas fa-trophy"></i> 5</div>
                    </div>
                    <div class="counter-container">
                        <div class=" InProgressHabits-counter"> <i class="fas fa-hourglass-half"></i> 5</div>
                        <div class="HabitsCompletedToday-counter"><i class="fas fa-chart-pie"></i>5</div>
                        <div class="HabitsCompletedToday-counter"><i class="fas fa-chart-line"></i> 5</div>
                    </div>
                </div>
            </div>
            <div class="circle-analytics">
                <div id="habits-circle-progress"></div>
            </div>
        </div>
        <h2>Tasks</h2>
        <div class="graphics-container">
            <div class="large-analytics">
                <div class="tasks-BarChart"></div>
                <div class="TasksHabits-counter">
                    <div class="counter-container">
                        <div class="CurrentHabitStreak-counter"> <i class="fas fa-fire"></i> 5</div>
                        <div class="HabitsCompletedToday-counter"><i class="fas fa-check"></i> 5</div>
                        <div class="TotalHabits-counter"><i class="fas fa-trophy"></i> 5</div>
                    </div>
                    <div class="counter-container">
                        <div class=" InProgressHabits-counter"> <i class="fas fa-hourglass-half"></i> 5</div>
                        <div class="HabitsCompletedToday-counter"><i class="fas fa-clipboard"></i>5</div>
                        <div class="HabitsCompletedToday-counter"><i class="fas fa-clock"></i> 5</div>
                    </div>
                </div>
            </div>
            <div class="circle-analytics">
                <div id="tasks-circle-progress"></div>
            </div>
        </div>
    </div>

</div>
