<main class="groups">
    <div class="groups-header">
        <h1 data-i18n="groups">Groups</h1>
    </div>
    <div class="groups-content">
        <div class="groups-btn-content">
            <button class="btn-add-group">Add Group</button>
            <button class="btn-join-group">Join in Group</button>
        </div>
        <div class="groups-list-content">
            <div class="groups-list-header">
                <h1 data-i18n="groups-list">List of Groups</h1>
            </div>
            <ul class="groups-list"></ul>
        </div>
    </div>

    <dialog id="dialog-add-group">
        <form method="dialog" class="dialog-form">
            <h2>Add New Group</h2>
            <label>
                Name
                <input type="text" name="groupName"/>
            </label>
            <label>
                Description
                <textarea name="groupDesc" rows="3"></textarea>
            </label>
            <div class="dialog-actions">
                <button value="cancel">Cancel</button>
                <button value="default">Create</button>
            </div>
        </form>
    </dialog>

    <dialog id="dialog-join-group">
        <form method="dialog" class="dialog-form">
            <h2>Join Group</h2>
            <label>
                Invite Code
                <input type="text" name="inviteCode"/>
            </label>
            <div class="dialog-actions">
                <button value="cancel">Cancel</button>
                <button value="default">Join</button>
            </div>
        </form>
    </dialog>
</main>
