<main id="habits">
    <section class="main-content">
        <div class="habits-content">
            <div id="habits-list" class="habits-list">
                <div class="habits-list-header">
                    <div class="habits-list-title"><h2 id="TitleHabitsTasks"></h2></div>
                    <div class="habits-list-header-options">
                        <input type="text" id="search-HabitsTasks" placeholder="Search...">
                        <button id="add-button" class="options-button"></button>
                        <button id="filter-button" class="options-button">Filter</button>
                        <div id="filterDropdown" class="filter-dropdown" style="display: none;">
                            <label><input type="radio" name="category-filter" value="all" checked> All</label>
                            <label><input type="radio" name="category-filter" value="Wellness"> Wellness</label>
                            <label><input type="radio" name="category-filter" value="Fitness"> Fitness</label>
                            <label><input type="radio" name="category-filter" value="Education"> Education</label>
                            <label><input type="radio" name="category-filter" value="Career"> Career</label>
                            <label><input type="radio" name="category-filter" value="Social"> Social</label>
                            <label><input type="radio" name="category-filter" value="Other"> Other</label>
                        </div>
                    </div>
                </div>
                <div id="user-content" class="user-habits"></div>
            </div>

            <div class="habits-item-description">
                <div class="habits-item-description_row_a">
                    <div class="habits-item-description_col_1">
                        <div class="habits-tasks-graph">
                            <div id="circle-categories"></div>
                        </div>
                    </div>
                    <div class="habits-item-description_col_2">
                        <div class="habits-tasks-graph">
                            <div id="circle-progress"></div>
                        </div>
                    </div>
                </div>
                <div class="habits-item-description_row_b">
                    <div class="habits-item-description_4">
                        <div class="habits-item-description_col_1">
                            <div class="calendar-title">
                                <h3>Calendar</h3>
                            </div>
                            <div id="calendar-container" class="calendar-image calendar-container"></div>
                        </div>
                        <div class="habits-item-description_col_2">
                            <h5>Tasks and events</h5>
                            <div class="task-list"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <div id="AddTaskModal" class="TaskModal">
        <div class="Task-modal-content">
            <button id="closeTaskButton" class="closeTask">&times;</button>
            <h2 id="addNewTitle">Add New Task</h2>
            <label for="NewTaskTitle">Title</label>
            <input type="text" id="NewTaskTitle" placeholder="My New Task">
            <label for="TaskDescription">Description</label>
            <textarea id="TaskDescription" placeholder="Describe your Task..."></textarea>
            <label for="TaskDueDate">Due Date</label>
            <input type="date" id="TaskDueDate">
            <label for="TaskCategory">Category</label>
            <select id="TaskCategory">
                <option value="Wellness">Wellness</option>
                <option value="Fitness">Fitness</option>
                <option value="Education">Education</option>
                <option value="Career">Career</option>
                <option value="Social">Social</option>
                <option value="Other">Other</option>
            </select>
            <button id="saveTask">Save Task</button>
        </div>
    </div>

    <div id="AddHabitModal" class="TaskModal">
        <div class="Task-modal-content">
            <button id="closeHabitButton" class="closeTask">&times;</button>
            <h2>Add New Habit</h2>
            <label for="NewHabitTitle">Title</label>
            <input type="text" id="NewHabitTitle" placeholder="My New Habit">
            <label for="HabitDescription">Description</label>
            <textarea id="HabitDescription" placeholder="Describe your Habit..."></textarea>
            <label for="HabitFrequency">Frequency</label>
            <select id="HabitFrequency">
                <option value="daily">Daily</option>
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
            </select>
            <label for="HabitCategory">Category</label>
            <select id="HabitCategory">
                <option value="Wellness">Wellness</option>
                <option value="Fitness">Fitness</option>
                <option value="Education">Education</option>
                <option value="Career">Career</option>
                <option value="Social">Social</option>
                <option value="Other">Other</option>
            </select>
            <button id="saveHabit">Save Habit</button>
        </div>
    </div>

</main>