<main id="habits">
    <section class="main-content">
        <div class="habits-content">
            <div id="habits-list" class="habits-list">
                <div class="habits-list-header">
                    <div class="habits-list-title"><h2 id="TitleHabitsTasks">Habits</h2></div>
                    <div class="habits-list-header-options">
                        <button class="options-button">Search</button>
                        <button id="add-button" class="options-button">Add Habit</button>
                        <button class="options-button">Filter</button>

                    </div>
                </div>
                <div id="user-habits" class="user-habits"></div>

            </div>
            <div class="habits-item-description">
                <div class="habits-item-description_row_a">
                    <div class="habits-item-description_4">Tipo 4</div>
                </div>

                <div class="habits-item-description_row_b">

                    <div class="habits-item-description_col_1">
                        <div class="habits-item-description_1">Tipo 1</div>
                        <div class="habits-item-description_2">Tipo 2</div>
                    </div>
                    <div class="habits-item-description_col_2">
                        <div class="habits-item-description_1">Tipo 1</div>
                        <div class="habits-item-description_3">Tipo 3</div>
                        <div class="habits-item-description_3">Tipo 3</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="AddTaskModal" class="TaskModal">
        <div class="Task-modal-content">
            <button id="closeTaskButton" class="closeTask">&times;</button>
            <h2 id="addNewTitle">Add New Habit</h2>

            <label for="NewTaskTitle">Title</label>
            <input type="text" id="NewTaskTitle" placeholder="My New Task">

            <label for="TaskDescription">Description</label>
            <textarea id="TaskDescription" placeholder="Describe your Task..."></textarea>




            <button id="saveTask">Save Task</button>
        </div>
    </div>
</main>