<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planify</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../js/habits.js"></script>
</head>
<body class="habits-body">
    <aside id="sidebar" class="sidebar"></aside>
    <div class="main-content">
        <div class="habits-header">
            <button>Notification</button>
            <button>messages</button>
            <button>other</button>
            <a href="#">
                <img src="../../public/assets/ejemplo.webp" alt="">
            </a>
        </div>

        <div class="habits-content">
            <div id="habits-list" class="habits-list">
                <div class="habits-list-header">
                    <div class="habits-list-title"><h2>Habits</h2></div>
                    <div class="habits-list-header-options">
                        <button>Search</button>
                        <button>Filter</button>
                        <button>other</button>
                    </div>
                </div>
                <section id="user-habits" class="user-habits"></section>
            </div>
            <div class="habits-item-description"></div>
            <div>

            </div>
        </div>
    </div>

    <script>
        loadHabits();
    </script>

</body>
</html>